body {
  margin: 24px;
  font-size: 18px;
  line-height: 28px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  font-size: 28px;
  line-height: 32px;
}

h2 {
  font-size: 24px;
  line-height: 28px;
}

h3 {
  font-size: 20px;
  line-height: 24px;
}

h4 {
  font-size: 18px;
  line-height: 20px;
}

h5,
h6 {
  font-size: 16px;
  line-height: 18px;
}

h6 {
  color: #807d70;
}

p {
  font-size: 16px;
  line-height: 24px;
}

blockquote {
  margin: 0;
  padding-left: 18px;
  border-left: solid 6px #141414;
}

.field,
.header {
  margin: 24px auto;
}

.header {
  margin-top: 48px;
}

.markdown-header::before {
  content: "";
  width: 72px;
  height: 8px;
  background-color: #141414;
  display: block;
}

ul {
  padding: 0;
  list-style: none;
}

.markdown-field > ul {
  list-style: initial;
}

.markdown-field > ol,
.markdown-field > ul {
  padding-left: 20px;
  font-size: 16px;
  line-height: 24px;
}

.markdown-field ol li,
.markdown-field ul li {
  padding-top: 18px;
}

.markdown-inline-link a {
  text-decoration: underline;
  color: #141414;
  font-weight: bold;
}

/*
  NOTE: Chrome does not currently support the ::marker selector
        There's sort of a way to get the same effect with setting
        rules on li:before, but multi-line list items look awkward
*/
.markdown-field > ol li::marker {
  font-weight: bold;
}

hr {
  background-color: #141414;
  border: none;
  height: 1px;
}

img {
  width: 100%;
}

.header-link,
.row-link {
  text-decoration: none;
  color: #141414;
}

.row {
  margin: 20px 0;
}

body::before {
  content: url("/public/shuttle-mobile.svg");
  display: inline;
  text-align: center;
  display: block;
}

@media screen and (max-width: 375px) {
  body > div::before {
    font-size: 16px;
  }
}

body > div::before {
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  content: "Congrats! This is a boilerplate Liftoff installation. To remove this text and modify the theme CSS, go to /custom/styles.css";
  color: #141414;
  display: block;
  margin: 0 auto;
}

pre {
  background-color: #ebeae8;
  padding: 32px;
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

code {
  font-family: "SF Pro Text";
  font-size: 16px;
  line-height: 18px;
}

.field.page-link {
  margin-top: 32px;
  font-weight: bold;
}

.row-link:last-of-type > .row::after {
  background-color: #141414;
  height: 4px;
  margin: 24px auto 96px auto;
}

.index-page .row::after {
  margin: 64px auto;
  content: "";
  background-color: #ebeae8;
  height: 8px;
  display: block;
}

.index-page > div:last-child {
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.nav-button {
  text-decoration: none;
  color: #141414;
  font-weight: bold;
}

.nav-button.hidden {
  visibility: hidden;
}

@media (min-width: 426px) {
  body::before {
    content: url(/public/shuttle.svg);
    width: 50px;
    height: 88px;
    display: block;
    margin: 0 0 0 40px;
  }

  body > div::before {
    font-size: 18px;
    line-height: 28px;
    position: absolute;
    top: 40px;
    margin-right: 64px;
    max-width: 566px;
    right: 0;
    text-align: left;
  }

  h1 {
    font-size: 40px;
    line-height: 44px;
  }

  h2 {
    font-size: 28px;
    line-height: 32px;
  }

  h3 {
    font-size: 24px;
    line-height: 28px;
  }

  h4 {
    font-size: 20px;
    line-height: 24px;
  }

  h5,
  h6 {
    font-size: 18px;
    line-height: 20px;
  }

  p {
    font-size: 18px;
    line-height: 28px;
  }

  .markdown-field > ol,
  .markdown-field > ul {
    padding-left: 20px;
    font-size: 18px;
    line-height: 28px;
  }

  .markdown-field ol li,
  .markdown-field ul li {
    padding-top: 18px;
  }
}

@media (min-width: 777px) {
  /* desktop */

  blockquote {
    padding-left: 24px;
    border-left-width: 8px;
  }

  body::before {
    margin-left: 0;
  }

  body > div::before {
    position: relative;
    top: -75px;
    right: 15px;
  }

  body {
    max-width: 720px;
    margin: 24px auto;
  }

  .attachments.field,
  .markdown-image {
    max-width: 917px;
  }

  .index-page .row::after {
    width: 720px;
  }

  .index-page > div:last-child {
    max-width: 720px;
  }
}
