html {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}

body {
  margin: 24px 24px 96px 24px;
  font-size: 18px;
  line-height: 28px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  font-size: 28px;
  line-height: 32px;
  margin-top: 28px;
  margin-bottom: 24px;
}

h2 {
  font-size: 24px;
  line-height: 28px;
  margin-top: 24px;
  margin-bottom: 20px;
}

h3 {
  font-size: 20px;
  line-height: 24px;
  margin-top: 20px;
  margin-bottom: 18px;
}

h4 {
  font-size: 18px;
  line-height: 20px;
  margin-top: 18px;
  margin-bottom: 16px;
}

h5,
h6 {
  font-size: 16px;
  line-height: 18px;
  margin-top: 16px;
  margin-bottom: 16px;
}

h6 {
  color: #807d70;
}

p {
  font-size: 16px;
  line-height: 24px;
}

blockquote {
  margin: 0;
  padding-left: 18px;
  border-left: solid 6px #141414;
}

.field,
.header {
  margin: 32px auto;
}

.header {
  margin-top: 48px;
}

ul {
  padding: 0;
  list-style: none;
}

.header::after {
  content: "";
  width: 72px;
  height: 6px;
  background-color: #141414;
  display: block;
}

.row-page .nav-button::before {
  content: "â† ";
}

.row-page .row:last-of-type {
  margin-bottom: 64px;
}

.markdown-field > ul {
  list-style: initial;
}

.markdown-field > ol,
.markdown-field > ul {
  padding-left: 24px;
  font-size: 16px;
  line-height: 24px;
}

.markdown-field ol li,
.markdown-field ul li {
  padding-top: 18px;
}

.markdown-field a {
  text-decoration: underline;
  color: #141414;
  font-weight: bold;
}

img.attachment-image {
  width: calc(100vw - 16px);
  margin-left: -16px;
}

.field + .field img {
  margin-top: 8px;
}

/*
  NOTE: Chrome does not currently support the ::marker selector
        There's sort of a way to get the same effect with setting
        rules on li:before, but multi-line list items look awkward
*/

.markdown-field > ol li::marker {
  font-weight: bold;
}

hr {
  background-color: #141414;
  border: none;
  height: 1px;
  margin-top: 32px;
  margin-bottom: 32px;
}

img {
  width: 100%;
  display: block;
}

.header-link,
.row-link {
  text-decoration: none;
  color: #141414;
}

.row {
  margin: 20px 0;
}

body::before {
  background-image: url(/assets/shuttle-mobile.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  content: "Congrats! This is a boilerplate Liftoff installation. To remove this text and modify the theme CSS, go to /custom/styles.css";
  text-align: center;
  padding-top: 152px;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  color: #141414;
  display: block;
}

pre {
  background-color: #ebeae8;
  padding: 24px;
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

code {
  font-size: 16px;
  line-height: 24px;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}

.row-link:last-of-type > .row::after {
  display: none;
}

.row-link:last-of-type .row {
  margin-bottom: 64px;
}

.index-page .row::after {
  margin: 64px auto;
  content: "";
  background-color: #ebeae8;
  height: 8px;
  display: block;
}

.index-page > div:last-child {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  border-top: 4px solid #141414;
}

.nav-button {
  text-decoration: none;
  color: #141414;
  font-weight: bold;
}

@media (min-width: 768px) {
  body {
    margin: 64px auto 128px auto;
    max-width: 85%;
  }

  pre {
    padding: 32px;
  }

  hr {
    margin-top: 48px;
    margin-bottom: 48px;
  }

  body::before {
    background-position-x: left;
    background-image: url(/assets/shuttle.svg);
    padding-left: 74px;
    padding-top: 20px;
    text-align: left;
    height: 68px;
  }

  h1 {
    font-size: 40px;
    line-height: 44px;
    margin-top: 40px;
    margin-bottom: 28px;
  }

  h2 {
    font-size: 28px;
    line-height: 32px;
    margin-top: 28px;
    margin-bottom: 24px;
  }

  h3 {
    font-size: 24px;
    line-height: 28px;
    margin-top: 24px;
    margin-bottom: 20px;
  }

  h4 {
    font-size: 20px;
    line-height: 24px;
    margin-top: 20px;
    margin-bottom: 18px;
  }

  h5,
  h6 {
    font-size: 18px;
    line-height: 20px;
    margin-top: 18px;
    margin-bottom: 18px;
  }

  p {
    font-size: 18px;
    line-height: 28px;
  }

  .markdown-field > ol,
  .markdown-field > ul {
    padding-left: 32px;
    font-size: 18px;
    line-height: 28px;
  }

  .markdown-field ol li,
  .markdown-field ul li {
    padding-top: 18px;
  }

  img.attachment-image {
    width: calc(100% + 48px);
    margin-left: -24px;
  }

  .field,
  .header {
    margin: 48px auto;
  }
}

@media (min-width: 1024px) {
  /* desktop */
  body {
    max-width: 720px;
  }

  blockquote {
    padding-left: 24px;
    border-left-width: 8px;
  }

  body::before {
    margin-left: 0;
  }

  body > div::before {
    position: relative;
    top: -75px;
    right: 15px;
  }

  .index-page .row::after {
    width: 720px;
  }

  .index-page > div:last-child {
    max-width: 720px;
  }

  img.attachment-image {
    width: calc(100% + 192px);
    margin-left: -96px;
  }
}
