.field-name {
  display: none;
  visibility: hidden;
}

html {
  color: #252b4d;
  background-color: #f54600;
  font-family: "Barlow Condensed";
  font-weight: bold;
}

body {
  background-color: #fafafa;
  margin: 12px 12px 12px 12px;
}

body::after {
  display: block;
  background-image: url(/public/white.svg);
  background-repeat: no-repeat;
  content: "A Labs project from your friends at";
  color: #fafafa;
  text-align: center;
  background-color: #f54600;
  height: 100px;
  width: 100%;
  font-family: "Courier New", Courier, monospace;
  background-position: center;
  padding-top: 89px;
  padding-bottom: 100px;
}

.header h1 {
  text-align: center;
  line-height: 40px;
  font-size: 40px;
}

.index-page .header {
  background-color: #f54600;
  margin: 0 -12px 0 -12px;
}

.index-page .header h1 {
  color: #fafafa;
  width: 100%;
  margin-top: 0;
  padding-bottom: 14px;
}

.index-page .title {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  margin-top: 64px;
}

.index-page .title h1 {
  color: #252b4d;
  font-size: 48px;
  line-height: 48px;
  text-shadow: 1px 1px #fffdfa, 3px 3px rgba(245, 70, 0, 0.43);
  font-family: "Barlow Condensed";
}

.index-page .title p {
  font-size: 20px;
  line-height: 30px;
}

.index-page a {
  color: #252b4d;
}

.index-page .title h3 {
  color: #f54600;
  line-height: 20px;
  margin-top: 16px;
}

.pizza-box {
  width: 134px;
  margin: 16px auto 0 auto;
}

.header-link {
  color: #fafafa;
}

.index-page {
  margin-left: 12px;
  margin-right: 12px;
}

.index-page .row {
  height: 306px;
  margin-top: 32px;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}

.index-page ul {
  margin-top: 0;
  height: 164px;
  overflow: hidden;
  border-bottom: 6px solid #252b4d;
}

.index-page img.attachment-image {
  width: 100%;
  margin: 0;
}

.index-page .Name {
  margin-top: 8px;
}

.index-page span.field-value:not(.markdown-field) {
  display: block;
  margin-top: 0;
}

.index-page .Author {
  font-size: 14px;
  line-height: 16px;
  font-style: italic;
  font-family: "Courier";
  font-weight: bold;
}

.index-page .Author p {
  margin-top: 8px;
}

.index-page .lede {
  margin-top: 16px;
  padding: 15px 17px;
  line-height: 20px;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  background-color: #f54600;
  color: #fafafa;
}

.index-page > div:last-child {
  border-top: none;
}

.Name {
  font-size: 40px;
  line-height: 40px;
}

.row-page {
  display: grid;
  grid-template-row: 64px auto;
  grid-template-columns: repeat(6, 1fr);
}

.row-page > * {
  grid-column: 1 / 7;
}

.row-page .header {
  /* grid-area: 1 / span 6; */
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row: 1;
  font-size: 24px;
  background-color: #f54600;
  font-size: 32px;
  padding: 0 0 14px 0;
  margin: 0;
  text-align: left;
}

.row-page .header h1 {
  margin: 0;
  font-size: 32px;
  width: 100%;
}

.row-page .LedeImage ul {
  background-color: unset;
  max-height: 169px;
}

.row-page .LedeImage {
  margin: 6px 6px 0 6px;
  overflow: hidden;
}

.row-page img.attachment-image {
  opacity: 1;
  position: unset;
  margin: auto;
}

.row-page .Name,
.row-page .Author,
.TheRRReview,
.Rating,
.RRRSoundtrack {
  text-align: center;
}

.row-page .Name {
  font-size: 48px;
  font-weight: bold;
  line-height: 48px;
  text-transform: uppercase;
}

.TheRRReview,
.Rating,
.RRRSoundtrack {
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 24px;
}

.Rating h1 {
  font-size: 32px;
  margin-top: 8px;
}

.Rating .star-rating {
  margin: 24px 10px 0 10px;
  display: flex;
  justify-content: space-around;
}

.star-rating .star {
  width: 50px;
  height: 48px;
}

.GoogleMap {
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 48px;
}

.GoogleMap iframe {
  width: 100%;
}

.SpotifyPlaylist {
  margin: 48px 12px 0 12px;
}

.SpotifyPlaylist iframe {
  width: 100%;
  height: 410px;
}

.Rating span,
.RRRSoundtrack span {
  color: #f54600;
}

.row-page .nav-button:first-of-type {
  grid-area: 1 / 1;
  padding-bottom: 14px;
}

.row-page .nav-button {
  background-color: #f54600;
  color: #fafafa;
  font-size: 20px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  margin: 0 0 0 12px;
}

.row-page .nav-button:last-of-type {
  grid-column: 1 / span 2;
  margin: 32px 0 72px 12px;
  padding: 10px 12px;
  justify-content: center;
}

.row-page .nav-button::before {
  display: none;
}

.row-page .row:last-of-type {
  margin: unset;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr min-content min-content auto;
}

.Name span {
  text-transform: uppercase;
}

.row-page .row > * {
  grid-column: 1 / span 2;
}

.row-page .nav-button:last-of-type::before {
  display: none;
}

.row-page .Author,
.TheRRReview .review-text,
.RRRSoundtrack p {
  font-family: "Courier New";
  font-weight: bold;
}

.row-page .Author p {
  margin-top: 8px;
  font-style: italic;
}

.index-page .row::after {
  display: none;
}

@media (min-width: 768px) {
  body {
    margin: 10px auto 24px auto;
    font-size: 16px;
    line-height: 24px;
    max-width: 744px;
  }

  .row-page .Name span {
    display: inline-block;
    padding: 16px 24px;
    font-size: 64px;
    line-height: 64px;
    margin-top: 0;
  }

  .index-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 24px;
    margin-right: 24px;
    margin-left: 24px;
  }

  .row-page .Author p {
    margin-top: 16px;
  }

  .Rating h1 {
    margin-top: 0;
  }

  .row-page .header h1 {
    font-size: 40px;
    line-height: 40px;
  }

  .index-page .title,
  .index-page .header {
    grid-column: span 2;
  }

  .index-page .row {
    height: 348px;
  }

  .index-page .header {
    margin: 0 -24px 0 -24px;
  }

  .index-page .title {
    margin-left: 32px;
    margin-right: 32px;
  }

  .index-page .title p {
    margin-top: 16px;
  }

  .index-page h1.index-page__title {
    font-size: 112px;
    line-height: 112px;
    text-shadow: 2px 2px #fffdfa, 6px 6px rgba(245, 70, 0, 0.43);
    margin-top: 0;
  }

  .pizza-box {
    width: 170px;
    height: 51px;
  }

  .index-page .title h3 {
    font-size: 32px;
    line-height: 32px;
    margin-top: 32px;
  }

  .TheRRReview,
  .Rating,
  .RRRSoundtrack {
    margin-left: 72px;
    margin-right: 72px;
    margin-bottom: 0;
  }

  .GoogleMap {
    margin-top: 64px;
  }

  .star-rating {
    width: 350px;
  }

  .Rating .star-rating {
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
  }

  .TheRRReview h1 {
    font-size: 48px;
  }

  .TheRRReview {
    margin-top: 32px;
  }

  .star-rating .star {
    height: 58px;
    width: 61px;
  }

  .row-page .LedeImage {
    margin-top: 12px;
    margin-left: 12px;
    margin-right: 12px;
    max-height: 464px;
  }

  .row-page .LedeImage ul {
    max-height: 350px;
  }

  .row-page .review-text {
    font-size: 20px;
    line-height: 30px;
    margin-top: 0;
  }

  .Rating h1 {
    font-size: 48px;
    line-height: 48px;
  }

  .row-page .row {
    display: grid;
    /* grid-template-rows: 1fr 1fr 1fr auto; */
  }

  .row-page .LedeImage {
    grid-row: 1 / span 3;
  }

  .RRRSoundtrack {
    margin: 0;
    text-align: left;
  }

  .row-page .row .RRRSoundtrack {
    grid-column: 2;
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-right: 24px;
  }

  .row-page .row .RRRSoundtrack h1 {
    margin-top: 0;
    font-size: 32px;
    line-height: 48px;
  }

  .row-page .row .SpotifyPlaylist {
    grid-column: 1;
    grid-row: 8;
    margin: 24px;
  }

  .GoogleMap {
    margin-right: 24px;
    margin-left: 24px;
  }

  .row-page .nav-button:last-of-type {
    grid-column: 1;
    margin-left: 24px;
    margin-top: 0;
  }

  .row-page .row:last-of-type {
    grid-template-rows: 1fr 1fr 128px auto;
  }

  .row-page .Name {
    grid-row: 3;
  }

  .row-page .Name span {
    background-color: rgba(255, 253, 250, 0.85);
  }
}

@media (min-width: 1024px) {
  body {
    max-width: 976px;
    margin-left: auto;
    margin-right: auto;
  }

  .index-page .Name {
    font-size: 48px;
    line-height: 48px;
  }

  .index-page ul {
    height: 224px;
  }

  .row-page .row .RRRSoundtrack h1 {
    font-size: 48px;
  }

  .title {
    margin-bottom: 62px;
  }

  .index-page .row {
    height: 372px;
  }

  .row-page .LedeImage ul {
    max-height: 476px;
  }

  .row-page .Name span {
    padding: 32px 48px;
    font-size: 72px;
    line-height: 72px;
  }

  .row-page .row:last-of-type {
    grid-template-rows: 1fr 1fr 184px auto;
  }
}
