.row-link,
.header-link {
  text-decoration: none;
  color: black;
}

.header + .nav-button {
  display: none;
  visibility: hidden;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

body {
  max-width: 800px;
  margin: auto;
}

.field-name {
  display: none;
  visibility: hidden;
}

.Category {
  color: #13b49d;
  text-decoration: none;
  font-family: Flama Condensed, Roboto Condensed, Trebuchet MS, Lucida Grande,
    Tahoma, sans-serif;
  font-weight: 500;
  display: inline-block;
  font-size: 1.1875rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.Name {
  font-family: Flama Condensed, Roboto Condensed, Trebuchet MS, Lucida Grande,
    Tahoma, sans-serif;
  font-weight: 500;
  font-size: 2rem;
  letter-spacing: -0.5px;
  line-height: 1.15;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  font-size: 3.5rem;
  line-height: 1;
}

.Dek {
  color: #75757d;
  font-size: 1rem;
  letter-spacing: -0.15px;
  line-height: 1.6;
  margin: 0.9rem 0 1rem;
  font-size: 2rem;
  line-height: 1.5;
}

.Author {
  color: #13b49d;
  text-decoration: none;
  font-size: 1.0625rem;
}

.Body {
  font-size: 1.0625rem;
  line-height: 1.88;
  margin: 0;
}

.nav-button {
  font-family: Flama Condensed, Roboto Condensed, Trebuchet MS, Lucida Grande,
    Tahoma, sans-serif;
  font-weight: 500;
  border: 1px solid #a66eff;
  border-radius: 2px;
  color: black;
  height: 2.5rem;
  letter-spacing: 0.1rem;
  line-height: 2.5rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.3s;
}

.index-page .Name {
  font-size: 2.5rem;
}

.index-page .Dek {
  font-size: 1.5rem;
}

.row {
  margin-bottom: 40px;
}
